APP_PORT=8080
APP_ENV=local

DB_HOST=postgres
DB_PORT=5432
DB_USER=superindo
DB_PASSWORD=superindo
DB_NAME=superindo
DB_SSLMODE=disable

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL_SECONDS=30

